@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        Developed by
        <a href="https://github.com/lsuzigan" target="_blank">Lucas Suzigan</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
